{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}}
 :mvn/repos {"datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}}
 :aliases {:dev {:extra-deps
                 {com.datomic/client-cloud {:mvn/version "0.8.78"}}}}}
